@page "{restaurantId:int}"
@model BusinessSample.Pages.Restaurants.DetailModel
@{
    ViewData["Title"] = "Detail";
}

<h2>@Model.Restaurant.Name</h2>

@if (Model.Message != null)
{
    <div class="alert alert-info">@Model.Message</div>
}

<div>
    Id: @Model.Restaurant.ID
</div>
<div>
    Location: @Model.Restaurant.Address.Country
</div>

<div>
    Cuisine: @Model.Restaurant.Cuisine
</div>


<a asp-page=@config.ListPage class="btn btn-default">All Restaurants</a>